.gridItem {
    box-shadow: 0 0 5px #000000;
    padding:10px;
}

@media screen and (min-width:768px) {

    .gridCSS {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

}

@media screen and (min-width:1024px) {

    .gridCSS {
        grid-template-columns: repeat(4, 1fr);
    }

}