body {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid blue;
    align-items: center;
    padding: 50px;
    
    
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: yellowgreen;
    border: 2px solid green;
    height: 150px;
    width: 1000px;


}
.itemMenu {
    background-color: antiquewhite;
    border: 2px solid, red;
    padding: 24px;
    border-radius: 5px;
}
.itemMenu:hover{
    background-color: rgb(138, 138, 138);
}
.main {
    background-color: green;
    height: 300px;
    margin: 50px 200px 150px 250px;
    border: 1px solid black;
    padding: 100px 200px 150px 150px;
    
}


.logo {
    background-color: aqua;
    
   
    
    width: 200px;
    height: 150px;
}
    


